.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  padding: 5px;
  background-color: transparent;
  border: 1px solid #cccccc;
  border-radius: 5px;
  position: relative;
}

.task-item:hover {
  background-color: #f9fc56;  
}

.delete-btn {
  display: none; 
  
}

.task-item:hover .delete-btn {
  display: inline-block;
}

.titulo{
  background-color: beige;
}